@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@section Scripts
{
    <script>

        //https://localhost:44363/api/Values
        $(document).ready(function () {
            console.log("ready!");
            $.ajax({
                type: "GET",
                url: 'https://localhost:44363/api/Values',
                //data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    debugger;
                    alert("Data has been added successfully.");
                    //LoadData();
                },
                error: function () {
                    alert("Error data");
                }
            });
            console.log("after ajax!");
        });

    </script>

}